.m-message {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.m-message--success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.m-message--error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.m-header {
    padding: 0;
    margin: 0
}

ul.m-header-list {
    list-style: none outside none;
    margin:0;
    padding: 0; 
    text-align: center;
    background: #666666;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

ul.m-header-list li {
    margin: 0 10px; 
    display: inline;
}

ul.m-header-list li a {
    color: #fff
}
.m-footer {
    padding: 20px;
    margin-top: 40px;
    background: #666666;
    color: #fff
}
body {
    color: #000000;
    background: #eeeeee;
    font-size: 16px;
}

p {
    line-height: 10px;
}

.container {
    width: 100%;
    margin: 50px auto;
    padding: 0
}

input[type=text], select, textarea {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.m-btn-primary {
    width: 100px;
}
.m-add-memo-form {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}

.m-add-memo-form label,
.m-add-memo-form input,
.m-add-memo-form textarea {
    display: block
}

.m-add-memo-form input,
.m-add-memo-form textarea  {
    width: 50%;
}

.m-add-memo-form textarea {
    height: 150px;
}
.m-memos {}

.m-memos-table {}

.m-memos-table input,
.m-memos-table button {
    border-radius: 0
}

.m-memos-table-row-content {
    display: flex;
    align-items: center;
}
.m-memos-table-row-content > div {
    flex: 0 20%;
    display: flex;
}
.m-memos-table__header-title {
    display: flex;
}
.m-memos-table__header-title > span {
    display: flex;
    flex: 0 40%
}
.m-memos-table-edit,
.m-memos-table-delete {
    margin-left: 10px;
    margin-right: 10px;
}
.m-memos input, .m-memos textarea {
    width: 400px;
}

/*# sourceMappingURL=main.css.map*/